@inherits LayoutComponentBase

<div class="w3-container" id="footer">
    <p class="txtMinfin">
        Ministerio de Finanzas Públicas &emsp; &emsp; @DateTime.Now.Year &copy;GuateNominas
    </p>
</div>

@code {

}
