@inherits LayoutComponentBase


<div class="page">

   <NavMenu />
   <div class="wrapper">
        <div id="main">
            <Header />

            <Content />

            <Footer />
        </div>
   </div>
    

   
</div>