@* @page "/login"
@inject HttpClient Http
@inject AdminSysFront.Servicios.ApiService ApiService

<h3>Iniciar Sesión</h3>

@if (loginError)
{
    <p style="color: red;">Credenciales inválidas. Inténtelo de nuevo.</p>
}

<form>
    <label for="username">Usuario:</label>
    <input id="username" @bind="username" />

    <label for="password">Contraseña:</label>
    <input id="password" type="password" @bind="password" />

    <button type="button" @onclick="IniciarSesion">Iniciar Sesión</button>
</form>

@code {
    private string username;
    private string password;
    private bool loginError;

    private async Task IniciarSesion()
    {
        var exito = await ApiService.IniciarSesion(username, password);

        if (exito)
        {
            // Autenticación exitosa, puedes redireccionar a otra página o realizar otras acciones.
        }
        else
        {
            loginError = true;
        }
    }
} *@